{% extends 'base.html.twig' %}

{% block title %}All programs{% endblock %}

{% block body %}
    <div class="container">
        <h1>Toutes les séries de la table program :</h1>
        {% for program in programs %}
            <div>
                <h2>{{ loop.index }} / {{ program.title }} - Catégorie : {{ program.category.name }}</h2>
                <p>{{ program.summary }}</p>
                <a href="{{ path('(wild_show', {slug: program.title|lower|replace({' ': '-'})}) }}" class="btn btn-primary">Voir la fiche</a>
                <a href="{{ path('wild_show_program', {programName: program.title|lower|replace({' ': '-'})}) }}">Voir les saisons</a>

            </div>
        {% else %}
         Aucune série trouvée.
        {% endfor %}
    <a href="{{ path('app_index') }}">
        Retour à l'accueil
    </a>
    </div>
    {% endblock %}